<!doctype html>
<html lang="en">
<head>
  <h2>All Students</h2>
</head>

<body>
  <ul>
  <% @students.each do |student| %>
    <li class="student_<%= student.id %>"><%= student.name %></li>
  <% end %>
  </ul>
</body>
</html>
